.newUser {
    flex: 4;
}

.newUserForm{
    display: flex;
    flex-wrap: wrap;
}

.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(158, 156, 156);
    font-weight: 600;
}